<% provide(:title, full_name(@user)) %>
<div class="container user_show">
  <div class="user_show_heading heading">
    <h1>Profile</h1>
  </div>
  <div class="user_show_content">
    <%= gravatar_for @user %>  <%= full_name(@user) %>
    <br>
    <%= @user.email %>
  </div>
</div>
