<li>
  <%= link_to food_item.name, food_item %>
  Price:
  <%= food_item.price %>
  <%= link_to 'edit', edit_food_item_path(food_item) if can? :update, food_item %>
  <%= link_to 'delete', food_item, method: :delete, data: { confirm: "Are you sure?" } if can? :destroy, food_item %>
</li>