<% provide(:title, 'Edit Food Item') %>
<div class="container food_edit">
  <div class="food_edit_heading">
    <h2>Edit Food Item</h2>
  </div>
  <div class="food_edit_content">
    <%= render 'food_items/form' %>
  </div>
</div>