<% provide(:title, 'Enlist a Food Item') %>
<div class="container food_new">
  <div class="food_new_heading heading">
    <h2>New Food Item</h2>
  </div>
  <div class="food_new_content">
    <%= render 'food_items/form' %>
  </div>
</div>