<footer class="footer">
  <div class="footer_content">
    <strong>FOODILICIOUS</strong> 
    <span>by Yudhishthir Bhunwal</span>
  </div>
  <div class="footer_links">
    <%= link_to "About", about_path %>
    <%= link_to "Contact", contact_path %>
  </div>
</footer>